{{ collection from="news" as="articles" sort="order" }}

  {{ articles }}  

    {{ partial:layout/article class="border-t border-t-black pt-5 md:pt-10"  }}
      <a name="{{slug}}" class="-scroll-mb-45"></a>

      <div class="mb-10 md:mb-20">
        {{ date }}
      </div>

      {{ partial:components/headings/h1 
        title="{{ title }}" 
        class="mb-15 md:mb-30 lg:mb-50" }}

        {{ if main_image }}
          {{ partial:components/media/containers/100 :image="main_image" }}
        {{ /if }}

        {{ if lead }}
          <div class="mt-15 md:mt-30 mb-45 lg:mb-105 text-lead hyphens-auto">
            {{ lead }}
          </div>
        {{ /if }}
        
        {{ if page_elements }}
          <div class="space-y-20">
            {{ page_elements }}
              {{ partial:elements }}
            {{ /page_elements }}
          </div>
        {{ /if }}

    {{ /partial:layout/article }}

  {{ /articles }}

{{ /collection  }}
