<div 
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-in duration-200"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="bg-white w-full text-md leading-[1.45] pb-20 md:pb-0 mt-45 md:mt-55 lg:mt-28 md:col-span-6 lg:!block">
  <nav>
    <ul class="flex flex-col lg:w-full lg:grid lg:grid-cols-6 lg:gap-x-20 border-b border-b-black lg:border-none">
      {{ nav:main }}
        {{ partial:menu/item }}
      {{ /nav:main }}
    </ul>
  </nav>
</div>