/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

@font-face {
  font-family: 'GTAmericaULt';
  src: url('fonts/GTAmericaTrial-ULt.woff2') format('woff2'), url('fonts/GTAmericaTrial-ULt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTAmericaTrialULtIt';
  src: url('fonts/GTAmericaTrial-ULtIt.woff2') format('woff2'), url('fonts/GTAmericaTrial-ULtIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
