/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

@font-face {
  font-family: 'GTAmericaULt';
  src: url('fonts/GT-America-Standard-Ultra-Light.woff2') format('woff2'), url('fonts/GT-America-Standard-Ultra-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTAmericaULtIt';
  src: url('fonts/GT-America-Standard-Ultra-Light-Italic.woff2') format('woff2'), url('fonts/GT-America-Standard-Ultra-Light-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
