{{ partial:layout/article class="!mb-0" }}

    {{ image_containers }}

    {{ if type == 'video' }}
      {{ partial:components/media/video }}
    {{ /if }}


      {{ if type == 'image_container_100' }}
        {{ partial:components/media/containers/100 :image="image" }}
      {{ /if }}

      {{ if type == 'image_container_50_50' }}
        {{ partial:components/media/containers/50_50 
          :image_left="image_landscape_left" 
          :image_right="image_landscape_right" }}
      {{ /if }}

      {{ if type == 'image_container_33_66' }}
        {{ partial:components/media/containers/33_66 
          :image_left="image_portrait" 
          :image_right="image_landscape" }}
      {{ /if }}

      {{ if type == 'image_container_66_33' }}
        {{ partial:components/media/containers/66_33 
          :image_left="image_landscape" 
          :image_right="image_portrait" }}
      {{ /if }}

    {{ /image_containers }}

    {{ if text_container }}
      <div class="mt-15 md:mt-30 mb-35 md:mb-70">

        {{ text_container }}

          {{ if type == 'text_container_100' }}
            <div class="hyphens-auto">
              {{ text }}
            </div>
          {{ /if }}

          {{ if type == 'text_container_50_50' }}
            {{ partial:layout/grid }}
              {{ partial:layout/span class="mb-20 md:mb-0 hyphens-auto" }}
                {{ text_left }}
              {{ /partial:layout/span }}
              {{ partial:layout/span }}
                {{ text_right }}
                  {{ if type == 'text' }}
                    {{ text }}
                  {{ /if }}
              {{ /text_right }}
              {{ /partial:layout/span }}
            {{ /partial:layout/grid }}
          {{ /if }}

        {{ /text_container }}

      </div>
    {{ /if }}

{{ /partial:layout/article }}
