<a 
  href="{{ project_left:url }}"
  title="{{ project_left:title }}"
  class="block group md:col-span-3 md:relative">
  {{ partial:components/media/image 
    :image="image_left" 
    wrapperClass="aspect-[4/3] relative md:static"
    class="w-full h-full object-cover absolute"
    :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
    preset="focal-4-3" }}
    <div class="bg-white text-xs leading-[1.25] md:absolute md:bottom-0 md:left-0 z-10 py-5 px-2 w-full md:opacity-0 md:group-hover:opacity-100 transition-all">
      {{ project_left:title }}
    </div>
</a>
<a
  href="{{ project_right:url }}"
  title="{{ project_right:title }}"
  class="block group md:col-span-3 md:relative">
  {{ partial:components/media/image 
    :image="image_right" 
    wrapperClass="aspect-[4/3] relative md:static"
    class="w-full h-full object-cover absolute"
    :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
    preset="focal-4-3" }}
    <div class="bg-white text-xs leading-[1.25] md:absolute md:bottom-0 md:left-0 z-10 py-5 px-2 w-full md:opacity-0 md:group-hover:opacity-100 transition-all">
      {{ project_right:title }}
    </div>
</a>