<a 
  href="{{ project_portrait:url }}"
  title="{{ project_portrait:title }}"
  class="block group md:col-span-2 md:relative max-w-[80%] md:max-w-none">
  {{ partial:components/media/image 
    :image="image_portrait" 
    wrapperClass="aspect-[4/5] relative md:static"
    class="w-full h-full object-cover absolute"
    :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
    preset="focal-4-5" }}
    <div class="bg-white text-xs leading-[1.25] md:absolute md:bottom-0 md:left-0 z-10 py-5 px-2 w-full md:opacity-0 md:group-hover:opacity-100 transition-all">
      {{ project_portrait:title }}
    </div>
</a>
<a
  href="{{ project_landscape:url }}"
  title="{{ project_landscape:title }}"
  class="block group md:col-span-4 md:relative">
  {{ partial:components/media/image 
    :image="image_landscape" 
    wrapperClass="aspect-[16/10] relative md:static"
    class="w-full h-full object-cover absolute"
    :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
    preset="focal-16-10" }}
    <div class="bg-white text-xs leading-[1.25] md:absolute md:bottom-0 md:left-0 z-10 py-5 px-2 w-full md:opacity-0 md:group-hover:opacity-100 transition-all">
      {{ project_landscape:title }}
    </div>
</a>