{{ partial:layout/grid }}
  {{ partial:layout/span }}
    {{ partial:components/media/image 
      :image="image_left" 
      class="w-full h-auto object-cover"
      :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
      preset="focal-4-3" }}
  {{ partial:layout/span }}
  {{ partial:layout/span }}
    {{ partial:components/media/image 
      :image="image_right" 
      class="w-full h-auto object-cover"
      :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
      preset="focal-4-3" }}
  {{ partial:layout/span }}
{{ /partial:layout/grid }}