{{ partial:layout/grid }}
  <div class="md:col-span-4 mb-20 md:mb-0 relative">
    {{ partial:components/media/image 
      :image="image_left" 
      wrapperClass="aspect-[16/10]"
      class="w-full h-full object-cover absolute"
      :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
      preset="focal-16-10" }}
  </div>
  <div class="md:col-span-2 relative max-w-[80%] md:max-w-none">
    {{ partial:components/media/image 
      :image="image_right" 
      wrapperClass="aspect-[4/5]"
      class="w-full h-full object-cover absolute"
      :sizes="teaser ? ['lg'] : ['2xl', 'xl', 'lg']"
      preset="focal-4-5" }}
  </div>
{{ /partial:layout/grid }}