{{ partial:layout/article }}
  {{ if link }}
    <a href="{{ link:url }}" title="{{ title }}">
  {{ /if }}
    {{ partial:components/headings/h1 title="{{ title }}" class="mb-15 md:mb-30 lg:mb-50" }}

    <div class="space-y-20">
      {{ image_containers }}

        {{ if type == 'image_container_100' }}
          {{ partial:components/media/containers/100 image="{{ image }}" }}
        {{ /if }}

        {{ if type == 'image_container_50_50' }}
          {{ partial:components/media/containers/50_50 
            image_left="{{ image_landscape_left }}" 
            image_right="{{ image_landscape_right }}" }}
        {{ /if }}

        {{ if type == 'image_container_33_66' }}
          {{ partial:components/media/containers/33_66 
            image_left="{{ image_portrait }}" 
            image_right="{{ image_landscape }}" }}
        {{ /if }}

        {{ if type == 'image_container_66_33' }}
          {{ partial:components/media/containers/66_33 
            image_left="{{ image_landscape }}" 
            image_right="{{ image_portrait }}" }}
        {{ /if }}

      {{ /image_containers }}
    </div>

    <div class="mt-15 md:mt-30">

      {{ text_container }}

        {{ if type == 'text_container_100' }}
          <p class="text-md md:text-lg leading-[1.15] md:leading-[1.125] md:max-w-[75%]">
            {{ text }}
          </p>
        {{ /if }}

        {{ if type == 'text_container_50_50' }}
          <div class="md:grid md:grid-cols-6 md:gap-x-20">
            <div class="md:col-span-3">
              {{ text_left }}
            </div>
            <div class="md:col-span-3">
              {{ text_right }}
            </div>
          </div>
        {{ /if }}

      {{ /text_container }}

    </div>
  {{ if link }}
    </a>
  {{ /if }}
{{ /partial:layout/article }}
