{{ partial:layout/article }}
  <a href="/aktuell/#{{news_article:slug}}" title="Aktuell">
    {{ partial:components/headings/h1 title="Aktuell" class="mb-15 md:mb-30 lg:mb-50" }}

    {{ partial:components/media/containers/100 :image="news_article:main_image" }}

    <div class="mt-15 md:mt-30 space-y-20 md:space-y-45">
      {{ partial:layout/grid }}

        {{ partial:layout/span class="mb-20 md:mb-0 text-lead hyphens-auto" }}
          {{ news_article:title }}
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
          {{ news_article:lead }}
        {{ /partial:layout/span }}

      {{ /partial:layout/grid }}
    </div>
  </a>
{{ /partial:layout/article }}